body{
    margin: 0;
    color: black;
    background-image: url(../images/shoes4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/fitLaneLogo.jpg);
    display: block;
    clear: both;
}

.container img{
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 30%;
    margin: 10px auto;
    display:flex;
}

.container {
    background-color: #D9D9D9;
    border-radius: 10px;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.container form{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form input{
    width: 90%;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

.container label{
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
}

fieldset{
    border:none;
    margin: 10px;
    padding: 10px;
}

.terms{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.terms a{
    text-decoration: none;
    color: green;
    font-size: 15px;
    font-weight: 600;
}

button{
    width: 200px;
    height: 10%;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: black;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    background-color: green;
    border: none;
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}


/* Responsiveness */
@media only screen and (max-width: 690px) {
body{
    margin: 0;
    color: black;
    background-image: url(../images/shoes4.jpg);
    background-size: cover;
    background-repeat:repeat;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 20%;
    margin: 10px auto;
    display:flex;
}

.container form{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 200px;
    height: 70%;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
    padding-bottom: 15px;
    color: white;
    background-color: black;
    font-size: 15px;
    font-weight: 600;
}
}
